@font-face
  font-family: 'SF Pro Display'
  font-weight: 400
  src: url('../assets/fonts/400.otf') format('opentype')

@font-face
  font-family: 'SF Pro Display'
  font-weight: 500
  src: url('../assets/fonts/500.otf') format('opentype')

@font-face
  font-family: 'SF Pro Display'
  font-weight: 700
  src: url('../assets/fonts/700.otf') format('opentype')

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'SF Pro Display'

@import './components/home'
