.profile
  width: 1150px
  margin: 0 auto
  margin-top: 40px
  svg
    cursor: pointer
  h2
    color: #0C2D68
    font-size: 36px
    font-weight: 700
  form
    margin-top: 30px
    input
      width: 400px
      height: 50px
      font-weight: 400
      font-size: 18px
      padding: 18px
      background: #FFFFFF
      border: 1px solid #A2A6B0
      border-radius: 4px
      outline: none
    div
      display: flex
      align-items: center
      div
        height: 50px
        border: 1px solid #A2A6B0
        border-radius: 4px
        border-left: none
        border-radius: 0px 4px 4px 0
        padding-right: 18px
      input
        width: calc(400px - 25px - 15px)
        height: 50px
        font-weight: 400
        font-size: 18px
        padding: 18px
        background: #FFFFFF
        border: 1px solid #A2A6B0
        border-radius: 4px 0 0 4px
        outline: none
        border-right: none
    textarea
      width: calc(400px)
      height: 200px
      font-weight: 400
      font-size: 18px
      padding: 18px
      background: #FFFFFF
      border: 1px solid #A2A6B0
      border-radius: 4px
      outline: none
      resize: none
      font-family: 'SF Pro Display'
      svg
        width: 25px
        height: 25px
        cursor: pointer
    label
      display: block
      margin-top: 20px
      color: #0C2D68
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
      margin-bottom: 12px
  &__wrap
    display: flex
    flex-direction: column
    align-items: center
  &__bio
    width: 100%
    display: flex
    justify-content: flex-end
    p
      margin-right: 6px
      color: #CDD2D6
      font-size: 16px
      font-weight: 400
  &-logoutWrap
    width: 400px
  &-logout
    display: flex
    width: 96px
    align-items: center
    cursor: pointer
    margin-top: 20px
    h3
      margin-left: 10px
      font-weight: 700
      font-size: 18px
      color: #C23F3E !important
    svg
      width: 24px
      height: 24px
.profile__wrap-name
  input
    border: none !important
    padding-left: 0px !important
    width: calc(400px - 25px) !important
  svg
    cursor: pointer
